public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@chakra-ui/*
public-hoist-pattern[]=@codemirror/*
public-hoist-pattern[]=@emotion/*
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=@vanilla-extract/*
public-hoist-pattern[]=@web/*
public-hoist-pattern[]=esbuild
public-hoist-pattern[]=esbuild-wasm
public-hoist-pattern[]=fast-glob
public-hoist-pattern[]=remark*
public-hoist-pattern[]=unified*
